section.vhs-about-3
	.container
		h2.main-title.center Core Values
		.row
			.col-lg-4.order-lg-3
				.content
					.item
						span.number 1
						.img
							img(src="./img/about/icon_1.png", alt="")
						.text
							h4.content-title PASSION 
							p.desc We are inspired and motivated by our dedication to deliver excellence in everything that we do.
					.item
						span.number 2
						.img
							img(src="./img/about/icon_2.png", alt="")
						.text
							h4.content-title integrity
							p.desc We uphold and nurture integrity in both internal and external aspects of our business.
					.item
						span.number 3
						.img
							img(src="./img/about/icon_3.png", alt="")
						.text
							h4.content-title Professionalism
							p.desc We consistently deliver quality and value everyday.
			
			.col-lg-4.d-none.d-lg-block.order-lg-2
				.img
					img(src="./img/about/3.png", alt="")
			.col-lg-4.order-lg-1
				.content
					.item
						span.number 4
						.img
							img(src="./img/about/icon_4.png", alt="")
						.text
							h4.content-title innovation
							p.desc We use creativity and insight to create solutions that enable us to maximize opportunities and manage risks in creating positive change for the company.
					.item
						span.number 5
						.img
							img(src="./img/about/icon_5.png", alt="")
						.text
							h4.content-title teamwork
							p.desc We combine our strengths and efforts with customers, suppliers, colleagues and community in order to reach the common goal of progress for all.