section.chocopie-section.classic(bg-img='./img/chocopie/bg_2.png')
	.container
		.row
			.col-12.col-lg-8.offset-lg-3
				.block1
					.block1__title
						h2 Tasteé Pie - Classic
					.block1__box
						p The Tasteé - Chocolate Pie  is the  new taste of childhood, just as the sweet chocolate coating touches your tongue; just as you sink your teeth into the soft and fluffy biscuit and the chewy marshmallow.
						.block1__box__inlineimage
							img(src="./img/chocopie/2.png", alt="")
						ul
							li Remove the bag and microwave for 15 seconds for a warm, moist cake.
							li In the summer, freeze or refrigerate for a cool, crumbly cake.
					.block1__image
						img(src="./img/chocopie/2.png", alt="")
					.block1__thumbnail
						img(src="./img/chocopie/3.png", alt="")


section.chocopie-section.reverse.matcha(bg-img='./img/chocopie/bg_3.png')
	.container
		.row
			.col-12.col-lg-8.offset-lg-1
				.block1
					.block1__title
						h2 Tasteé Pie - matcha
					.block1__box
						p The Tasteé  - Matcha Marshmallow chocolate pie is  the  new taste, blend with authentic Matcha green tea. This new version is super soft and marshmallow in the inside with a burst of green tea in each bite.
						.block1__box__inlineimage
							img(src="./img/chocopie/45.png", alt="")
						ul
							li Remove the bag and microwave for 15 seconds for a warm, moist cake.
							li In the summer, freeze or refrigerate for a cool, crumbly cake.
					.block1__image
						img(src="./img/chocopie/5.png", alt="")
					.block1__thumbnail
						img(src="./img/chocopie/4.png", alt="")

section.chocopie-section.banana(bg-img='./img/chocopie/bg_4.png')
	.container
		.row
			.col-12.col-lg-8.offset-lg-3
				.block1
					.block1__title
						h2 Tasteé Pie - Classic
					.block1__box
						p The Tasteé - Chocolate Pie  is the  new taste of childhood, just as the sweet chocolate coating touches your tongue; just as you sink your teeth into the soft and fluffy biscuit and the chewy marshmallow.
						.block1__box__inlineimage
							img(src="./img/chocopie/67.png", alt="")
						ul
							li Remove the bag and microwave for 15 seconds for a warm, moist cake.
							li In the summer, freeze or refrigerate for a cool, crumbly cake.
					.block1__image
						img(src="./img/chocopie/6.png", alt="")
					.block1__thumbnail
						img(src="./img/chocopie/7.png", alt="")

section.chocopie-section.reverse.coconut(bg-img='./img/chocopie/bg_5.png')
	.container
		.row
			.col-12.col-lg-8.offset-lg-1
				.block1.block1--reverse
					.block1__title.block1__title--coconut.block1__title--left
						h2 Tasteé Pie - matcha
					.block1__box.block1__box--coconut
						p The Tasteé  - Matcha Marshmallow chocolate pie is  the  new taste, blend with authentic Matcha green tea. This new version is super soft and marshmallow in the inside with a burst of green tea in each bite.
						.block1__box__inlineimage
							img(src="./img/chocopie/89.png", alt="")
						ul
							li Remove the bag and microwave for 15 seconds for a warm, moist cake.
							li In the summer, freeze or refrigerate for a cool, crumbly cake.
					.block1__image
						img(src="./img/chocopie/9.png", alt="")
					.block1__thumbnail
						img(src="./img/chocopie/8.png", alt="")
	.leaf
		.leaf-top
			img(src="./img/chocopie/icon_1.png", alt="")
		.leaf-bottom
			img(src="./img/chocopie/icon_2.png", alt="")