section.chocopie-2(bg-img='./img/chocopie/bg_2.png')
	.container
		.row
			.col-12.col-lg-8.offset-lg-3
				.block1
					.block1__title.block1__title--classic.block1__title--right
						h2 Tasteé Pie - Classic
					.block1__box
						p The Tasteé - Chocolate Pie  is the  new taste of childhood, just as the sweet chocolate coating touches your tongue; just as you sink your teeth into the soft and fluffy biscuit and the chewy marshmallow.
						ul
							li
								p Remove the bag and microwave for 15 seconds for a warm, moist cake.
							li
								p In the summer, freeze or refrigerate for a cool, crumbly cake.
					.block1__image
						figure
							img(src="./img/chocopie/2.png", alt="")
					.block1__thumbnail
						figure
							img(src="./img/chocopie/3.png", alt="")