section.vhs-home-1
	.owl-carousel
		.item
			a(href="#")
				img(src="./img/banner/home.jpg", alt="")
		.item
			a(href="#")
				img(src="./img/banner/home.jpg", alt="")
		.item
			a(href="#")
				img(src="./img/banner/home.jpg", alt="")