section.vhs-home-2
	.container
		h2.main-title.center About Us
		.row
			.col-12
				.content
					.img
						img(src="./img/border_line_1.png", alt="")
						.icon-bottom-left
							img(src="./img/border_icon_2.png", alt="")
						.icon-bottom-right
							img(src="./img/border_icon_1.png", alt="")
					.text
						.line-top.d-lg-none
							img(src="./img/border_line_top.png", alt="")
						h3 Lotus Gourmet is committed to offering you the best quality products with great taste and experience at affordable price
						p Lotus Gourmet Corp is a member of a Group family-owned companies specializing in Rice and Fast Moving Consumer Goods (FMCG). We go step further by launching “Lotus Gourmet” brand to the world market. Produced with care, passion and dedication in the Mekong Delta and processed by modern production lines and the most advanced technology, Lotus Gourmet represents the best, superior quality products in Vietnam.
						a.btn.btn-red(href="#") View More
						.line-bottom.d-lg-none
							img(src="./img/border_line_bottom.png", alt="")