section.vhs-home-2
	.content
		.container
			h2.main-title.center Feature Product
			.row
				.col-lg-9.col-sm-11.mx-auto
					.text
						p I love using Lotus Jasmine Rice the taste before and after cooking is remarkable. It has a mild nutty flavor that lends itself to a wide range of uses. I believe grains such as this are the way forward for Vietnam as we look towards native, local and sustainable ingredients in cooking.
						h3 Chef Norbert Ehrbar
						img(src="./img/quote_left.png", alt="")