section.noodle-2(bg-img="./img/noodle/bg_1.png")
	.container
		.row
			.col-12.col-lg-6.offset-lg-6
				.block2.block2--black
					.block2__title.block2__title--uppercase
						h2 Saucy seafood
					.block2__content
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt! Saepe, quod! Sed in explicabo nostrum maxime excepturi. Error aspernatur repellendus reprehenderit omnis dicta quis, autem corporis quisquam nesciunt amet?
						ul
							li
								p Quick and easy to prepare
							li
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.
							li
								p Lorem ipsum dolor sit amet

section.noodle-3(bg-img="./img/noodle/bg_2.png")
	.container
		.row
			.col-12.col-lg-6
				.block2.block2--black
					.block2__title.block2__title--uppercase
						h2 Saucy seafood
					.block2__content
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt! Saepe, quod! Sed in explicabo nostrum maxime excepturi. Error aspernatur repellendus reprehenderit omnis dicta quis, autem corporis quisquam nesciunt amet?
						ul
							li
								p Quick and easy to prepare
							li
								p Lorem ipsum dolor sit amet consectetur adipisicing elit.
							li
								p Lorem ipsum dolor sit amet