section.vhs-about-2
	.container
		h2.main-title.center Vision - Mision
		.row.no-gutters.item
			.col-about.long
				.img
					img(src="./img/about/1.jpg", alt="")
			.col-about.short
				.content
					h4.content-title Vision
					p.desc Lotus Gourmet is a company of FMCG be seen now not only in every supermarket but in every family as well.
		.row.no-gutters.item
			.col-about.long.order-lg-2
				.img
					img(src="./img/about/2.jpg", alt="")
			.col-about.short.order-lg-1
				.content
					h4.content-title Mision
					ul.desc-list
						li Create a difference, bring value and inspire trust and loyalty in customers
						li Deliver rational returns and maintain sustainable company growth for stakeholders
						li Build a warm and proactive environment for excellent employee development and welfare
						li Improve farmers’ lives through partnership with them and give positive impact to the community
						li Committed to green farming practices to protect the environment