section.vhs-brand-2
	.container
		.row
			.col-12
				.brand-detail
					.owl-carousel
						.item.animated(data-hash="brand-1")
							figure
								img(src="./img/brand/1.png", alt="")
								figcaption.row.justify-content-center
									.col-lg-8
										h4 Chocolate Pie
										p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup
										a.btn.btn-viewmore(href="chocopie.html") View more
						.item.animated(data-hash="brand-2")
							figure
								img(src="./img/brand/1.png", alt="")
								figcaption.row.justify-content-center
									.col-lg-8
										h4 Nuts
										p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup
										a.btn.btn-viewmore(href="nut.html") View more
						.item.animated(data-hash="brand-3")
							figure
								img(src="./img/brand/1.png", alt="")
								figcaption.row.justify-content-center
									.col-lg-8
										h4 Instant Noodles
										p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup
										a.btn.btn-viewmore(href="instantnoodle.html") View more
						.item.animated(data-hash="brand-4")
							figure
								img(src="./img/brand/1.png", alt="")
								figcaption.row.justify-content-center
									.col-lg-8
										h4 Juice
										p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup
										a.btn.btn-viewmore(href="juice.html") View more
						.item.animated(data-hash="brand-5")
							figure
								img(src="./img/brand/1.png", alt="")
								figcaption.row.justify-content-center
									.col-lg-8
										h4 Noodles
										p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup
										a.btn.btn-viewmore(href="noodle.html") View more
						.item.animated(data-hash="brand-6")
							figure
								img(src="./img/brand/1.png", alt="")
								figcaption.row.justify-content-center
									.col-lg-8
										h4 Ricepaper
										p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup
										a.btn.btn-viewmore(href="ricepaper.html") View more
				.brand-nav
					.owl-carousel
						a.item(href="#brand-1")
							figure
								.img-box
									img(src="./img/brand/2.png", alt="")
								figcaption
									h4 Chocolate Pie
						a.item(href="#brand-2")
							figure
								.img-box
									img(src="./img/brand/3.png", alt="")
								figcaption
									h4 Nuts
						a.item(href="#brand-3")
							figure
								.img-box
									img(src="./img/brand/4.png", alt="")
								figcaption
									h4 Instant Noodles
						a.item(href="#brand-4")
							figure
								.img-box
									img(src="./img/brand/5.png", alt="")
								figcaption
									h4 Juice
						a.item(href="#brand-5")
							figure
								.img-box
									img(src="./img/brand/6.png", alt="")
								figcaption
									h4 Noodles
						a.item(href="#brand-6")
							figure
								.img-box
									img(src="./img/brand/6.png", alt="")
								figcaption
									h4 Ricepaper