section.vhs-contact-1
	.container
		.row
			.col-md-10.offset-md-1
				h2.main-title.center Nice to hear from You
				p.description Feel free to contact our friendly and helpful customer service experts. They’re always available to answer your questions. You can contact us via email and telephone.
		.row
			.col-md-4
				.textbox
					.img
						img(src="./img/contact/1.png", alt="")
					.content
						h4.title Business Hours
						p Our support Hotline: (+84 28) 6266 3838
						p Monday-Friday: 8h00 am to 5h00 pm
						p Saturday: 8h00 am to 12h00 pm
						p Sunday: Closed
			.col-md-4
				.textbox
					.img
						img(src="./img/contact/2.png", alt="")
					.content
						h4.title Business Hours
						p Our support Hotline: (+84 28) 6266 3838
						p Monday-Friday: 8h00 am to 5h00 pm
						p Saturday: 8h00 am to 12h00 pm
						p Sunday: Closed
			.col-md-4
				.textbox
					.img
						img(src="./img/contact/3.png", alt="")
					.content
						h4.title Business Hours
						p Our support Hotline: (+84 28) 6266 3838
						p Monday-Friday: 8h00 am to 5h00 pm
						p Saturday: 8h00 am to 12h00 pm
						p Sunday: Closed
		.row.form
			.col-lg-8
				.map-wrap
					iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3065908788703!2d106.69475241533416!3d10.787813761931968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351e20651f%3A0x12394ee868becb05!2zMTU2IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIFRo4bunLCDEkGEgS2FvLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1542695572314" frameborder="0" style="border:0" allowfullscreen)
			.col-lg-4
				.Module
					.ModuleContent
						.wrap-form
							#ctl00_mainContent_ctl04_upContact
								#ctl00_mainContent_ctl04_pnlSend(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_mainContent_ctl04_btnSend')")
									.form-wrap.row
										.form-group.col-12
											label.label Full Name
											input.form-control(type='text', placeholder='Full Name')
											span.fa.fa-exclamation-triangle(title='Your name is required.')
										.form-group.col-12
											label.label Address
											input.form-control(type='text', placeholder='Address')
											span.fa.fa-exclamation-triangle(title='Your name is required.')
										.form-group.col-12
											label.label Address
											input.form-control(type='text', placeholder='Address')
											span.fa.fa-exclamation-triangle(title='Your name is required.')
										.form-group.col-12
											label.label Message
											textarea.form-control(placeholder='Message')
											span.fa.fa-exclamation-triangle(title='You must enter a message.')
									.clear
									.form-group.ct-button
										.frm-btnwrap
											.frm-btn
												input.ct-button.btn.btn-default(type='submit')
								.clear