section.vhs-testimonial-1
	.container-fluid
		h2.main-title.center What Partners Say About Lotus Gourmet
		.row
			.col
				.owl-carousel
					.item
						figure
							.img-box
								img(src="./img/testimonial/1.jpg", alt="")
							figcaption
								p “I love using Lotus Jasmine Rice the taste before and after cooking is remarkable. It has a mild nutty flavor that lends itself to a wide range of uses. I believe grains such as this are the way forward for Vietnam as we look towards native, local and sustainable ingredients in cooking.“
								h4 Chef Norbert Ehrbar
					.item.prev
						figure
							.img-box
								img(src="./img/testimonial/1.jpg", alt="")
							figcaption
								p “I love using Lotus Jasmine Rice the taste before and after cooking is remarkable. It has a mild nutty flavor that lends itself to a wide range of uses. I believe grains such as this are the way forward for Vietnam as we look towards native, local and sustainable ingredients in cooking.“
								h4 Chef Norbert Ehrbar
					.item.prev
						figure
							.img-box
								img(src="./img/testimonial/1.jpg", alt="")
							figcaption
								p “I love using Lotus Jasmine Rice the taste before and after cooking is remarkable. It has a mild nutty flavor that lends itself to a wide range of uses. I believe grains such as this are the way forward for Vietnam as we look towards native, local and sustainable ingredients in cooking.“
								h4 Chef Norbert Ehrbar