section.instantnoodle-1(bg-img="./img/instantnoodle/bg_1.png")
	.container
		.row
			.col
				.taglines
					h1 Instant Noodle
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat commodi in esse, nemo ab perspiciatis ullam aperiam provident laborum. Eligendi nesciunt labore delectus libero optio velit. Perspiciatis ullam nihil doloribus?

				figure
					img(src="./img/instantnoodle/1.png", alt="alt")