section.instantnoodle-1(bg-img="./img/instantnoodle/bg_1.png")
	.container
		.row
			.col-lg-9.mx-auto
				.content
					h2 Instant Noodle
					p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup. The entire process of industrial method of manufacturing: noodle-making, steaming, seasoning, and dehydrating in oil heat. The product that becomes ready to eat just in two minutes by adding boiling water.
				figure
					img(src="./img/instantnoodle/1.png", alt="alt")