section.vhs-home-6
	.container
		h2.main-title.center.white Our Partners
		.row
			.col
				.owl-carousel
					.item
						img(src="./img/home/5.png", alt="")
					.item
						img(src="./img/home/6.png", alt="")
					.item
						img(src="./img/home/7.png", alt="")
					.item
						img(src="./img/home/8.png", alt="")
					.item
						img(src="./img/home/9.png", alt="")
					.item
						img(src="./img/home/6.png", alt="")
					.item
						img(src="./img/home/7.png", alt="")
					.item
						img(src="./img/home/8.png", alt="")