section.vhs-distribution-2
	.container
		.row
			.col-20
				img(src="./img/distribution/2.png", alt="")
			.col-20
				img(src="./img/distribution/3.png", alt="")
			.col-20
				img(src="./img/distribution/4.png", alt="")
			.col-20
				img(src="./img/distribution/5.png", alt="")
			.col-20
				img(src="./img/distribution/6.png", alt="")
			.col-20
				img(src="./img/distribution/7.png", alt="")
			.col-20
				img(src="./img/distribution/8.png", alt="")
			.col-20
				img(src="./img/distribution/9.png", alt="")
			.col-20
				img(src="./img/distribution/10.png", alt="")
			.col-20
				img(src="./img/distribution/11.png", alt="")