section.nut.nut-1(bg-img="./img/nuts/bg_1.png")
	.container
		.row
			.col-lg-6
				figure.figure
					img.img-fluid(src="./img/nuts/d1.png", alt="")
			.col-lg-6
				.content
					h2 Saucy seafood
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt! Saepe, quod! Sed in explicabo nostrum maxime excepturi. Error aspernatur repellendus reprehenderit omnis dicta quis, autem corporis quisquam nesciunt amet?
					ul
						li
							p Quick and easy to prepare
						li
							p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						li
							p Lorem ipsum dolor sit amet

section.nut.nut-2.reverse(bg-img="./img/nuts/bg_2.png")
	
	.container
		.row
			.col-lg-6
				figure.figure
					img.img-fluid(src="./img/nuts/d2.png", alt="")
			.col-lg-6
				.content
					h2 Saucy seafood
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt! Saepe, quod! Sed in explicabo nostrum maxime excepturi. Error aspernatur repellendus reprehenderit omnis dicta quis, autem corporis quisquam nesciunt amet?
					ul
						li
							p Quick and easy to prepare
						li
							p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						li
							p Lorem ipsum dolor sit amet
section.nut.nut-3(bg-img="./img/nuts/bg_3.png")
	
	.container
		.row
			.col-lg-6
				figure.figure
					img.img-fluid(src="./img/nuts/d3.png", alt="")
			.col-lg-6
				.content
					h2 Saucy seafood
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt! Saepe, quod! Sed in explicabo nostrum maxime excepturi. Error aspernatur repellendus reprehenderit omnis dicta quis, autem corporis quisquam nesciunt amet?
					ul
						li
							p Quick and easy to prepare
						li
							p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						li
							p Lorem ipsum dolor sit amet
section.nut.nut-3.reverse(bg-img="./img/nuts/bg_4.png")
	
	.container
		.row
			.col-lg-6
				figure.figure
					img.img-fluid(src="./img/nuts/d4.png", alt="")
			.col-lg-6
				.content
					h2 Saucy seafood
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt! Saepe, quod! Sed in explicabo nostrum maxime excepturi. Error aspernatur repellendus reprehenderit omnis dicta quis, autem corporis quisquam nesciunt amet?
					ul
						li
							p Quick and easy to prepare
						li
							p Lorem ipsum dolor sit amet consectetur adipisicing elit.
						li
							p Lorem ipsum dolor sit amet