section.vhs-gallery-1
	.container.gallery-wrap
		.row
			.col-lg-9
				h2.main-title Gallery
				.slide-for
					.owl-carousel
						.item(data-hash="gallery-1")
							figure
								img(src="./img/gallery/1.jpg")
								figcaption
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
						.item(data-hash="gallery-2")
							figure
								img(src="./img/gallery/2.jpg")
								figcaption
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
						.item(data-hash="gallery-3")
							figure
								img(src="./img/gallery/1.jpg")
								figcaption
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
						.item(data-hash="gallery-4")
							figure
								img(src="./img/gallery/2.jpg")
								figcaption
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				.slide-nav
					.owl-carousel
						a(href="#gallery-1")
							.item.active
								img(src="./img/gallery/1.jpg")
						a(href="#gallery-2")
							.item
								img(src="./img/gallery/2.jpg")
						a(href="#gallery-3")
							.item
								img(src="./img/gallery/1.jpg")
						a(href="#gallery-4")
							.item
								img(src="./img/gallery/2.jpg")
			.col-lg-3
				.gallery-side-menu
					ul.list-unstyled.level-1
						li 
							a(href="#") Rice
						li.has-child
							a(href="#") Rice Food
							ul.list-unstyled.level-2
								li
									a(href="#") Tastee Pie
								li
									a(href="#") Tastee Instant Noodles
								li
									a(href="#") Tastee Noodles
								li
									a(href="#") Tastee Cashew Nut
								li
									a(href="#") Royal Farm Nuts
								li
									a(href="#") Tastee Phở
								li
									a(href="#") Tastee Rice Paper
						li.has-child
							a(href="#") Berverage
							ul.list-unstyled.level-2
								li
									a(href="#") Tastee Pie
								li
									a(href="#") Tastee Instant Noodles
								li
									a(href="#") Tastee Noodles
