section.vhs-banner-1
	.owl-carousel
		.item
			a(href="#")
				img(src="./img/banner/home.jpg", alt="")
			.content
				h2 Who am I
				p Our brand is now distributing not only in local and international supermarkets but also a favorite house brand for every family.
		.item
			a(href="#")
				img(src="./img/banner/home.jpg", alt="")
			.content
				h2 Who am I
				p Our brand is now distributing not only in local and international supermarkets but also a favorite house brand for every family.
		.item
			a(href="#")
				img(src="./img/banner/home.jpg", alt="")
			.content
				h2 Who am I
				p Our brand is now distributing not only in local and international supermarkets but also a favorite house brand for every family.
	.button-down
		.img
			img(src="./img/arrow_down_white.png", alt="")