section.ricepaper
	.container
		.row
			.col-lg-9.mx-auto
				.content
					h2 Rice Paper
					p Rice Paper is a thin steamed rice crepe that has been dried, our rice paper is made by blending the 2 main ingredients which are rice flour and tapioca starch.
				figure
					img(src="./img/ricepaper/1.png", alt="alt")