section.vhs-distribution-1
	.container
		h2.main-title.center Our Distributor
		.row
			.col-lg-10.mx-auto
				.content
					p Lotus Gourmet has been reaching out the world widely and become an international food brand selling over 20 countries: USA, Europe, Australia, Canada, Africa and other parts of Asia. You can buy Lotus Gourmet in local and global supermarkets or from your food service distributors.
			.col-12
				.img
					img(src="./img/distribution/1.png", alt="")