section.vhs-banner-2
	.owl-carousel
		.item
			img(src="./img/banner/about.jpg")
			.content
				h2 ABCDEF
				p Our brand is now distributing not only in local and international supermarkets but also a favorite house brand for every family.