footer.canhcam-footer-1
	.top-footer
		.container
			.row
				.col-lg-6
					.address
						h4 LOTUS GOURMET CORPORATION
						p No. 75-77, D1 Street, Himlam Residence,
							br
							| Tan Hung Ward, District 7,Ho Chi Minh City, Vietnam.
						br
						p Phone: (+84 28) 6266 3838
						p Fax: (+84 28) 6266 3737 
						p Email: bill@lotusgroup.vn.
					.social-menu-list
						ul
							li
								a(href="#")
									img(src="./img/icon_fb.png", alt="")
							li
								a(href="#")
									img(src="./img/icon_yt.png", alt="")
							li
								a(href="#")
									img(src="./img/icon_gg.png", alt="")
				.col-lg-3.col-6
					.footer-menu-list
						h4 About Us
						ul.list-unstyled
							li 
								a(href="#") Overview
							li 
								a(href="#") Vision - Mission
							li 
								a(href="#") Our History
							li 
								a(href="#") Leadership
							li 
								a(href="#") Certification
							li 
								a(href="#") CSR
				.col-lg-3.col-6
					.footer-menu-list
						h4 Our brands
						ul.list-unstyled
							li 
								a(href="#") Instant coffe
							li 
								a(href="#") Chocolate pie
							li 
								a(href="#") Nuts
							li 
								a(href="#") Rice paper
							li 
								a(href="#") Instant Noodles
							li 
								a(href="#") Juice
							li 
								a(href="#") Noodles 
							li 
								a(href="#") Dried Fruits
	.bottom-footer
		.container
			.row.copy-right
				.col-lg-6
					.copyright-menu-list
						ul.list-unstyled
							li
								a(href="#") Support
							li
								a(href="#") Conditions and terms
							li
								a(href="#") Privacy policy
							li
								a(href="#") Sitemap
				.col-lg-6
					.copyright-text
						p Copyright © 2018 Lotus Gourmet Corporation. All right reserved. Design by 
							a(href="https://canhcam.vn") Cánh Cam.
	.bottom-logo
		a(href="#")
			img(src="./img/logo_2.png", alt="")