section.vhs-brand-1
	.container
		h2.main-title.center Our Brands
		.row.item
			.col-lg-7
				.imgbox
					img(src="./img/brand/1.png", alt="")
			.col-lg-5
				.texbox
					h2 Instant Noodles
					p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup.
					a.btn-viewmore(href="#") View more
		.row.item
			.col-lg-7
				.imgbox
					img(src="./img/brand/1.png", alt="")
			.col-lg-5
				.texbox
					h2 Instant Noodles
					p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup.
					a.btn-viewmore(href="#") View more
		.row.item
			.col-lg-7
				.imgbox
					img(src="./img/brand/1.png", alt="")
			.col-lg-5
				.texbox
					h2 Instant Noodles
					p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup.
					a.btn-viewmore(href="#") View more
		.row.item
			.col-lg-7
				.imgbox
					img(src="./img/brand/1.png", alt="")
			.col-lg-5
				.texbox
					h2 Instant Noodles
					p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup.
					a.btn-viewmore(href="#") View more
		.row.item
			.col-lg-7
				.imgbox
					img(src="./img/brand/1.png", alt="")
			.col-lg-5
				.texbox
					h2 Instant Noodles
					p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup.
					a.btn-viewmore(href="#") View more
		.row.item
			.col-lg-7
				.imgbox
					img(src="./img/brand/1.png", alt="")
			.col-lg-5
				.texbox
					h2 Instant Noodles
					p Instant noodle are precooked and usually dried block, served with flavoring powder or seasoning oil usually in a separate packet or cup.
					a.btn-viewmore(href="#") View more