section.vhs-brand-1
	.container
		h2.main-title.center Our Brands
		.row
			.col-lg-9.offset-lg-2
				.content
					p Our main products Instant noodles, Instant Coffee, Cashew Nut, Nuts, Chocolate pie, Rice paper, Noodles…with retailed package. Our brand is now distributing not only in local and international supermarkets but also a favorite house brand for every family.
					img(src="./img/brand/icon_1.png", alt="")