header.canhcam-header-1#vhs_header
	.container
		.row.no-gutters.mobile
			.logo
				img(src="./img/logo_1.png", alt="")
			.toggle-navbar
				span.mdi.mdi-menu#vhs_toggleNavbar
		.navbar-wrap
			.logo.d-none.d-lg-block
				a(href="http://localhost:9999")
					img(src="./img/logo_1.png", alt="")
			.main-menu
				ul.navbar.list-unstyled.menu-list
					li
						a(href="about.html") About Us
					li
						a(href="brand.html") Our Brands
					li.active
						a(href="gallery.html") Gallery
					li
						a(href="distribution.html") Distribution
					li
						a(href="testimonial.html") Testimonial
					li
						a(href="news.html") News
					li
						a(href="contact.html") Contact
			.language.d-none.d-lg-block(map-to="language")
				a(href="#") EN
			.search.d-none.d-lg-block(map-to="search")
				span.mdi.mdi-magnify
				.Module
					.searchbox
						input.searchinput(type="text")
						button.searchbutton Tìm kiếm
