section.vhs-news-detail-1
	.container
		.row
			.col-lg-9
				.content
					h2 Vietnam Cashew accounted for 50% of  global exports
					time 26/03/2018
					p
					p Export prices increased 0.21% month over the previous month and increased by 11.14% over the month 9/2014. Generally in the first 9 months of 2015, export prices increased cashews 10.25% over the same period in 2014.
					p If the export of agricultural products such as rubber, coffee, rice is declining in both price and volume, the export of cashew nuts has maintained growth momentum thanks to increased export prices and demand is good.
					p 9 months of 2015, exports reached $ 1.78 billion agreement, up 20.62% over the same period last year (corresponding to 304 million turnover).
					img(src="./img/news_dt/1.jpg", alt="")
					p On the export market, the United States, the Netherlands and China continue to maintain the market’s 3 largest nuclear import of Vietnam accounted respectively 36.29%, 12.56% and 12.32% of the total price exports. The market turnover rose sharply to 79.7% by Germany, with 51.38% of Thailand, the United States with 35.33%, 33.67% and Netherlands with United Arab Emirates with 22 and 01%.
					p Specific prices of some categories that exports in January 9/2015: Cashews fried salt 12 x 100g packs to China cost US $ 11250-11500 / ton-FOB. Dried cashew nuts processed type LP (1 bag = 22,68kg packaging) to the United States cost US $ 6834-6878 / ton-FOB. Cashew nuts (shelled, unroasted) type WS Holland to cost US $ 6437-7275 / ton-FOB. Semi-processed cashew nuts to Dutch type WW240 cost $ 8,260 / ton-fob.
					p VITIC forecasts, in the last months of 2015, world market conditions will have a positive change as, Indian domestic market is moving in preparation for the festival of lights “Diwali” lasted for 5 days. This led to a demand on the Feast of purchase forecast to rise in northern and western India.
					p Meanwhile, the industry experts forecast that world markets will have positive changes in the first half of the fourth quarter / 2015. The reason is that all markets from the Americas to Europe and Asia will have to concentrate on the most important shopping period of the year – the Christmas and New Year 2016.
					p With the forecast results achieved in this sector in 2015 Vietnam will mark accounts for 50% of total export kernels of globalization. Specifically, the value of world trade this sector is estimated at $ 8 billion, including $ 5 billion in trade and $ 3 billion individual commercial crude. If the amount of individual transactions, export turnover of Vietnam is expected to reach $ 2.2 billion this year, which accounts for nearly half of global trade individual.

			.col-lg-3
				.other-news
					h3 related post
					a.item(href="#")
						figure
							.img
								img(src="./img/news_dt/2.jpg", alt="")
							figcaption
								time 26/03/2018
								h4 Vietnam’s TPP Patification
					a.item(href="#")
						figure
							.img
								img(src="./img/news_dt/3.jpg", alt="")
							figcaption
								time 26/03/2018
								h4 Vietnam’s TPP Patification
					a.item(href="#")
						figure
							.img
								img(src="./img/news_dt/4.jpg", alt="")
							figcaption
								time 26/03/2018
								h4 Vietnam’s TPP Patification