section.chocopie-1(bg-img="./img/chocopie/bg_1.png")
	.container
		.row
			.col
				.main-title.center
					h1 chocolate pie
				.description
					p The Tasteé - Chocolate Pie  is a small snack cake made up of two small round layers of cake with marshmallow filling and a chocolate covering. Carefully selected  from the finest material of Vietnam  and imported sources from the world, manufactured by modern processing line. 
				.image
					figure
						img(src="./img/chocopie/1.png", alt="")

