section.vhs-home-4
	.container
		h2.main-title.center Our Distribution
		.row
			.col-lg-9
				.img
					img(src="./img/home/4.png", alt="")
			.col-lg-3
				.text
					h4 International food brand selling over 20 countries
					p Lotus Gourmet has been reaching out the world widely and become an international food brand selling over 20 countries: USA, Europe, Australia, Canada, Africa and other parts of Asia. You can buy Lotus Gourmet in local and global supermarkets or from your food service distributors.
					a.btn.btn-red(href="#") Find now