section.vhs-news-1
	.container
		h2.main-title.center Latest news
		.row.no-gutters.hot-news
			.col-lg-6
				.img
					a(href="news-detail.html")
						img(src="./img/news/1.jpg", alt="")
			.col-lg-6
				.text
					h4.content-title ONE MILLION TONS OF ADDITIONAL RICE IN 2016 MAY BE IMPORTED BY...
					time 26/03/2018
					p Recently according to Economic Planning Strategy it has been quoted that the Philippines’s considering to import another one million tons of rice next year to maintain an adequate stocks and to avoid price hikes. It has been reported that around 500,000 tons of rice, part of 750,000 tons was imported recently from Vietnam and Thailand are for delivery in the first quarter of 2016. However, the need for another one million tons of rice is being envisaged to ensure 45 days buffer stock throughout the dry season.
					a.btn.btn-red-text(href="news-detail.html") View more
		.row
			.col-12
				.owl-carousel
					a.item(href="news-detail.html")
						figure
							img(src="./img/news/2.jpg", alt="")
							figcaption
								h4 Mekong Delta improves post-harvest rice quality MARCH 19, 2016 BY QDND
								p Thousands of high-capacity rice-drying stations have been built across the Mekong Delta region in a bid to increase post-harvest quality. Tra Vinh province boasts all high-capacity rice-drying stations 
								.btn.btn-red View more
					a.item(href="news-detail.html")
						figure
							img(src="./img/news/3.jpg", alt="")
							figcaption
								h4 Mekong Delta improves post-harvest rice quality MARCH 19, 2016 BY QDND
								p Thousands of high-capacity rice-drying stations have been built across the Mekong Delta region in a bid to increase post-harvest quality. Tra Vinh province boasts all high-capacity rice-drying stations 
								.btn.btn-red View more
					a.item(href="news-detail.html")
						figure
							img(src="./img/news/4.jpg", alt="")
							figcaption
								h4 Mekong Delta improves post-harvest rice quality MARCH 19, 2016 BY QDND
								p Thousands of high-capacity rice-drying stations have been built across the Mekong Delta region in a bid to increase post-harvest quality. Tra Vinh province boasts all high-capacity rice-drying stations Tra Vinh province boasts all high-capacity rice-drying stations 
								.btn.btn-red View more
					a.item(href="news-detail.html")
						figure
							img(src="./img/news/5.jpg", alt="")
							figcaption
								h4 Mekong Delta improves post-harvest rice quality MARCH 19, 2016 BY QDND
								p Thousands of high-capacity rice-drying stations have been built across the Mekong Delta region in a bid to increase post-harvest quality. Tra Vinh province boasts all high-capacity rice-drying stations 
								.btn.btn-red View more